.border-bottom-header{border-bottom: 4px solid #ed1e79 !important;}
.arriere-plan-item-menu{background: #ed1e79;}
.liste-interets .vignette-simple article{background: #ed1e79;}
.liste-interets article .fleche{background-color: #ed1e79;border: 3px solid #fbd2e4;}
.homme-rose{background: #ed1e79 url('../images/homme-blanc.png') no-repeat center;border: 3px solid #f73994;}

.plus-info .reference-fiche-detail .titre-reference{color: #ed1e79;}
.plus-info .reference-fiche-detail .puce-css{border-left-color: #ed1e79;}
.bloc-carte-google .google-map-ferme-circuit{background-color: #ed1e79;}
.bloc-plus-image .plus-image-ouvert{background-color: #fce5fa;}
.plus-info .border-left-vert-5px{border-left-color: #d7e9ee;}
.plus-image-ouvert-pieds-page{background-color: #fce5fa;}
.lien-plus-info-ouvert-pieds-page{background-color: #fce5fa !important;}
.lien-plus-info-ouvert{background-color: #fce5fa !important;}
.quizz{background: url('../images/quizz-rose.png') no-repeat center;}