.border-bottom-header{border-bottom: 4px solid #31cdf7 !important;}
.arriere-plan-item-menu{background: #31CDF7;}
.liste-interets .vignette-simple article{background: #31cdf7;}
.liste-interets article .fleche{background-color: #31cdf7;border: 3px solid #90dff4;}
.plus-info .reference-fiche-detail .titre-reference{color: #31cdf7;}
.plus-info .reference-fiche-detail .puce-css{border-left-color: #31cdf7;}
.bloc-carte-google .google-map-ferme-circuit, .info-window-gmap .visuel{background-color: #31cdf7;}
.bloc-plus-image .plus-image-ouvert{background-color: #90dff4;}
.plus-info .border-left-vert-5px{border-left-color: #31CDF7;}
.homme-bleu-ciel{background: #31cdf7 url('../images/homme-blanc.png') no-repeat center;border: 3px solid #90dff4;}

.plus-image-ouvert-pieds-page{background-color: #90dff4 !important;}
.lien-plus-info-ouvert-pieds-page{background-color: #90dff4 !important;}
.quizz{background: url('../images/quizz-bleu-ciel.png') no-repeat center;}

.plus-info-ouvert, .plus-info-ouvert .accroche-plus-info, .bloc-plus-image-ouvert, .bloc-plus-image-ouvert .accroche-plus-image, .border-left-5px{
	background-color: #DDF5FC;
}
.onlineeditor h2, .onlineeditor h3{
	color: #31cdf7;
}
.onlineeditor h4 {
    background: url("../images/puce-bleu-ciel.png") no-repeat scroll 0 13px transparent;
}