.border-bottom-header{border-bottom: 4px solid #98e2cc !important;}
.border-left-vert-5px{border-left: 4px solid #cbf0e5;}
.arriere-plan-item-menu{background: #98e2cc;}
.homme{background: #045b7a url('../images/homme-blanc.png') no-repeat center;border: 3px solid #136f87;}
.homme-vert{background: #98e2cc url('../images/homme-blanc.png') no-repeat center;border: 3px solid #cbf0e5;}
.google-maps-actif{display: none;background: #fff url('../images/pictos-google-map.png') no-repeat center;}
.google-maps-desactif{background: url('../images/pictos-google-map-new.png') no-repeat center;width: 50px;height: 50px;}
.google-maps-actif-pieds-page{display: none;background: #fff url('../images/pictos-google-map-ferme58px.png') no-repeat center;}
.google-maps-desactif-pieds-page{background: url('../images/pictos-google-map58px.png') no-repeat center;width: 58px;height: 58px;}
.fleche{background: #cbf0e5 url('../images/bloc-arrondi-milieu-fleche.png') no-repeat center;border: 3px solid #CBF0E5;}
.plus-image{background: url('../images/pictos-plus-image-plus.png') no-repeat center;}
.plus-image-pieds-page{background: url('../images/pictos-plus-image-plus58px.png') no-repeat center;}
.lien-plus-info{background:#fff url('../images/pictos-plus-info-plus.png') no-repeat center;}
.lien-plus-info-ouvert{background:#fff url('../images/plus-info-ouvert.png') no-repeat center;width: 48px !important;height: 48px !important;border: 1px solid #70777f;}
.plus-info-pictos-pieds-page{background:#fff url('../images/pictos-plus-info-plus58px.png') no-repeat center;}
.lien-plus-info-ouvert-pieds-page{background:#fff url('../images/plus-info-ouvert58px.png') no-repeat center;width: 56px !important;height: 56px !important;border: 1px solid #70777f;}
.quizz{background: url('../images/quizz.png') no-repeat center;}
.retour{background: url('../images/retour58px.png') no-repeat center;}
.supp-itiniraire{background:#fff url('../images/supp-itiniraire.png') no-repeat center;}
.plus-image-pictos{background:#fff url('../images/plus-image.png') no-repeat center;border:3px solid #70777f;}
.plus-info-pictos{background:#fff url('../images/pictos-plus-info-plus.png') no-repeat center;border:3px solid #70777f;}
.quizz-pictos{background:#98e2cc url('../images/quizz.png') no-repeat center;border:3px solid #70777f;}
.quizz-pictos-pieds-page{background:url('../images/quizz58px.png') no-repeat center;}
.google-map-actif-circuit{background: #98e2cc url(../images/bulle-milieu-blanc.png) no-repeat center;}
.google-map-ferme-circuit{background: #98e2cc url(../images/bulle-vide-map.png) no-repeat center;width: 48px;height: 48px;border: 1px solid #70777f;}
.google-map-ferme-circuit-pieds-page{background: #98e2cc url(../images/bulle-vide-map58px.png) no-repeat center;width: 56px;height: 56px;border: 1px solid #70777f;}
.google-map-actif-circuit-pieds-page{background: #98e2cc url(../images/bulle-milieu-blanc.png) no-repeat center;}
.itiniraire-circuit{background: #98e2cc url(../images/itiniraire-circuit.png) no-repeat center;}
.plus-image-ouvert{background:#98e2cc url('../images/plus-image-ouvert.png') no-repeat center;width: 48px !important;height: 48px !important;border: 1px solid #70777f;}
.plus-image-ouvert-pieds-page{background:#98e2cc url('../images/plus-image-ouvert58px.png') no-repeat center;width: 56px !important;height: 56px !important;border: 1px solid #70777f;}
.pieds-page .media-diaporama li a.diapo-prec{background:#98e2cc url('../images/diapo-prec.png') no-repeat center; border: 3px solid #cbf0e5;}
.pieds-page .media-diaporama li a.diapo-suiv{background:#98e2cc url('../images/diapo-suiv.png') no-repeat center; border: 3px solid #cbf0e5;}
.pieds-page .media-diaporama li a.diapo-play{background:#98e2cc url('../images/diapo-play.png') no-repeat center; border: 3px solid #cbf0e5;}
.pieds-page .media-diaporama li a.diapo-pause{background:#98e2cc url('../images/diapo-pause.png') no-repeat center; border: 3px solid #cbf0e5;}
.pieds-page .media-diaporama li a.diapo-ferme{background: url('../images/diapo-fermer.png') no-repeat center;border: 3px solid #70777f;}
#togglePause{background-color: #98E2CC;}
.ok{background: url('../images/ok.png') no-repeat center;border:none;}
.ok-pieds-page{background: url('../images/ok58px.png') no-repeat center;border:none;}
.question-reponse .reponses li .reponse1{width: 60px;height: 60px;margin: auto;cursor: pointer;background:#1abbb7 url('../images/reponse1-58px.png') no-repeat center;}
.question-reponse .reponses li .reponse1-selectionne {width: 60px;height: 60px;display: none;margin: auto;cursor: pointer;background:#1abbb7 url('../images/un58px.png') no-repeat center;}
.question-reponse .reponses li .reponse2{width: 60px;height: 60px;margin: auto;cursor: pointer;background:#1abbb7 url('../images/reponse2-58px.png') no-repeat center;}
.question-reponse .reponses li .reponse2-selectionne{width: 60px;height: 60px;display: none;margin: auto;cursor: pointer;background:#1abbb7 url('../images/deux58px.png') no-repeat center;}
.resultat-reponse1{background:#1abbb7 url('../images/un58px.png') no-repeat center;width: 60px;height: 60px;}
.resultat-reponse2{background:#1abbb7 url('../images/un58px.png') no-repeat center;width: 60px;height: 60px;}

