.border-bottom-header{border-bottom: 4px solid #136f87 !important;}
.arriere-plan-item-menu{background: #136f87;}
.liste-interets .vignette-simple article{background: #136f87;}
.liste-interets article .fleche{background-color: #136f87;border: 3px solid #d3dfe3;}
.plus-info .reference-fiche-detail .titre-reference{color: #136f87;}
.plus-info .reference-fiche-detail .puce-css{border-left-color: #136f87;}
.bloc-carte-google .google-map-ferme-circuit{background-color: #136f87;}
.bloc-plus-image .plus-image-ouvert{background-color: #9bc8d4;}
.plus-info .border-left-vert-5px{border-left-color: #d7e9ee;}
.plus-image-ouvert-pieds-page{background-color: #C4DBE1;}
.lien-plus-info-ouvert-pieds-page{background-color: #C4DBE1 !important;}
.quizz{background: url('../images/quizz-bleu.png') no-repeat center;}

.plus-info-ouvert, .plus-info-ouvert .accroche-plus-info, .bloc-plus-image-ouvert, .bloc-plus-image-ouvert .accroche-plus-image, .border-left-5px{
	background-color: #D7E9EE;
}
.onlineeditor h2, .onlineeditor h3{
	color: #136f87;
}
.onlineeditor h4 {
    background: url("../images/puce-rose.png") no-repeat scroll 0 13px transparent;
}