@charset "utf-8";
/* CSS Document */

html,body {
	width:100%;
	margin:0;
	background:#e4e3de;
}

/* STANDARD SETS */
body {
	font-family:Arial, sans-serif;
	font-size:small;
}
p {
	margin:0px;
/*	text-align:justify;*/
}
img {
	border:none;
        margin-bottom: -3px;;
}
.aligne-centre{text-align:center!important;}
.clear-tout{clear:both;display:block;height:0;overflow:hidden;}
.cache{display:none!important;}
ul,li{list-style:none;display:block;}
.affichage-bloc{display: block}
.float-gauche{float:left;width:auto;}
.float-droite{float:right;width:auto;}
.bold{font-weight: bold;}
.texte-s{font-size:90%;}
.texte-xs{font-size:85%;}
.texte-xxs{font-size:80%;}
.texte-xxxs{font-size:70%;}
.texte-xxxxs{font-size:60%;}
.texte-xxxxxs{font-size:40%;}
.texte-l{font-size:110%;}
.texte-xl{font-size:120%;}
.texte-xxl{font-size:130%;}
.texte-xxxl{font-size:140%;}
.texte-xxxxl{font-size:150%;}
.texte-xxxxxl{font-size:300%;}
.aligne-centre{text-align:center!important;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,header,footer,nav
{margin:0;padding:0;}
hearder, footer, article, section, nav{display: block;}
img a:link{
	border:none;
}

a:link { color:#000; text-decoration:none; }
a:visited { color:#000; text-decoration:none; }

.clear{
	clear:both;
}
.none{
	display:none !important;
}

/*************************************/

/* TOP */
#Header{
	padding-left: 9px;
        min-height: 70px;
        background: #313d49;
        border:1px solid #d1ccc8;
        border-bottom: 5px solid #d1ccc8;
        
}
#Header>#bandeau-site{margin-bottom: 4px;}
#Header>#bandeau-site>a{display: block;float: left;}
#Header>#bandeau-site>a:hover{text-decoration: none;}
a.logo-site{margin-right: 4px;}
#Header>#bandeau-site>a.accroche-site{width: 205px;padding-top: 4px;}
#Header>#bandeau-site>a.accroche-site>span{color: #fff;display: block;}
#Header>#bandeau-site>a.accroche-site>span:first-child{font-family: 'OmnesMedium';font-size: 174%;font-weight: 300;}
#Header>#bandeau-site>a.accroche-site>span+span{font-family: 'OmnesRegulier';font-size: 86%;font-weight: bold;}

#Header>#bandeau-site>h1{margin-bottom: 4px;}
#Header>#bandeau-site>h1>a{display: block;float: left;}
#Header>#bandeau-site>a:hover{text-decoration: none;}
a.logo-site{margin-right: 4px;}
#Header>#bandeau-site>h1>a.accroche-site{width: 205px;padding-top: 4px;}
#Header>#bandeau-site>h1>a.accroche-site>span{color: #fff;display: block;}
#Header>#bandeau-site>h1>a.accroche-site>span:first-child{font-family: 'OmnesMedium';font-size: 90%;font-weight: 100;}
#Header>#bandeau-site>h1>a.accroche-site>span+span{font-family: 'OmnesRegulier';font-size: 42%;font-weight: bold;}

.accroche{background: #fff;padding: 9px 17px;}
.accroche h1{margin-bottom: 3px;}
.accroche h1 p,.accroche h2{text-shadow: 0 0 1px   #aaa;font-family: 'OmnesMedium';font-weight: 200;font-size: 2em;line-height: 0.9em;margin-bottom: 3px;}/*modifié par melbajjati*/
.titre_circuit p{font-size: 90% !important;}
.accroche p {line-height: 1em;text-align: justify;}

.TopNavBar .menu{
	float:left;
        
}

#Main{
	background:#fff;
        border:1px solid #d1ccc8;
        border-top: none;
}
/* PUSH - MISES EN AVANT*/
.push{
	border-top:1px solid #c9bdb2;
	padding:0px 1px 0 10px;
	background:url('../images/bg-bloc.png') 0 0 repeat-x #DFD1C4;
}
.push .arrow {
    float: right;
    margin: 0 8px 0 0;
	position: relative;
	top:23px;
}
.push .text {
    vertical-align: top;
	padding-bottom: 5px;
}
.text .title{
	font-weight:bold;
	text-transform:none;
	color:#000000;
	padding:0px;
}
.text .description{
	text-transform:none;
	color:#000000;
	font-weight:normal;
	padding:0px;
}
.text span{
	color:#e644ac;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	padding-top:5px;
}
.bottom{
	padding:3px;
	color:#FFFFFF;
	background:#666666;
	font-size:0.8em;
}

.icon {
	margin-top:5px;
	text-align:center;
	float:left;
	width:33%;
	font-size:small;
	vertical-align:top;
}
/**** liste circuits ****/
.liste-circuits-simple{background: #313d49;}
.liste-circuits-simple article{position: relative;margin-left: 20px;height: 100px;border-bottom: 1px solid #d1ccc8;}
.liste-circuits-simple .titre-article{display: table;height: 100px;top:0;position: absolute;padding-left: 10px;width:121px;font-size: 120%;font-weight: bold;}
.liste-circuits-simple .titre-article a{display: table-cell;vertical-align: middle}
.liste-circuits-simple .lien-arrondi-circuits-simple{position: absolute;top:0;bottom: 0;margin: auto;right:5px;width: 50px;height: 50px;}

.lien-arrondi{width: 49px;height: 49px;border-radius: 26px;display: block;-moz-border-radius :26px;-webkit-border-radius: 26px;behavior: url('css/pie.htc');position:relative;}

/*.picto-circuit > img{border-radius: 27px;display: block;-moz-border-radius :27px;-webkit-border-radius: 27px;behavior: url('css/pie.htc');position:relative;}
*/
.ok{cursor: pointer;width: 54px;height: 54px;}

.liste-circuits-mise-en-avant{background: #313d49;}
.liste-circuits-mise-en-avant article{position: relative;height: 200px;border-bottom: 1px solid #d1ccc8;}
.liste-circuits-mise-en-avant .bloc-titre{background: url(../images/point-bleu.png);position: absolute;top: 20px;}
.liste-circuits-mise-en-avant .titre-article-mis-en-avant{padding-left: 10px;width:121px;font-size: 120%;font-weight: bold;}
.liste-circuits-mise-en-avant .bloc-titre{background: url('../images/point-bleu.png');display: block;position: absolute;left: 0;right: 0;top: 108px;color: #fff;}
.liste-circuits-mise-en-avant .lien-arrondi-circuits-mise-en-avant{right: 5px;position: absolute;top:0;bottom: 0;margin: auto;width: 50px;height: 50px;}
.liste-circuits-mise-en-avant .article-titre{float: left;width: 220px;padding: 9px 0 9px 30px;}
.liste-circuits-mise-en-avant .article-titre .titre{color:#fff;font-family: 'OmnesSemibold';display: block;font-size: 147%;width: 138px;line-height: 1em;}
.liste-circuits-mise-en-avant .article-titre .introduction{color:#fff;font-size: 90%;}
.bloc-carte-google{position: relative;min-height: 61px;background: #E4E3DE;border-top: 1px solid #d1ccc8;}
.bloc-carte-google .lien-arrondi{top:0;bottom: 0;margin: auto;right:4px;position: absolute;}



/**** fin liste circuits ****/
/* BOUTONS LARGE */
.btnAffiner {
	background:#A0A0A0 url(../images/bg_affiner.png) repeat-x;
	padding:15px;
	border-top:#999999 1px solid;
	font-weight:bold;
}
.btnAffiner .arrow {
	float:right;
}
.btnDispo {
	background:#A0A0A0 url(../images/bg_affiner.png) repeat-x;
	padding:15px;
	border-bottom:#999999 1px solid;
	font-weight:bold;
}

#Copyrights{
	background:#313d48;
	color:#ffffff;
}
#Copyrights p a{
	font-weight:bold;
	color:#ffffff !important;
	padding:2px 0 0 0;
	display:block;
}
#Copyrights p{
	padding:18px 0 18px 18px;
}
.recherche .search .ui-icon-myapp-email {
	background-image: url("../images/bt-ok.png") ;
}



/**************/
/*** Alexia ***/
/**************/

/*** General ***/
@font-face {
	font-family: 'OmnesLight';
	src: url("./fonts/omnes_light-webfont.eot") format("eot"),
	url("./fonts/omnes_light-webfont.woff") format("woff"),
	url("./fonts/Omnes_Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: 'OmnesMedium';src: url('./fonts/omnes-medium/omnes-medium-webfont.eot');src: url('./fonts/omnes-medium/omnes-medium-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/omnes-medium/omnes-medium-webfont.woff') format('woff'),url('./fonts/omnes-medium/omnes-medium-webfont.ttf') format('truetype'),url('./fonts/omnes-medium/omnes-medium-webfont.svg#MarckScriptRegular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'OmnesRegulier';src: url('./fonts/omnes-regulier/omnes-regular-webfont.eot');src: url('./fonts/omnes-regulier/omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/omnes-regulier/omnes-regular-webfont.woff') format('woff'),url('./fonts/omnes-regulier/omnes-regular-webfont.ttf') format('truetype'),url('./fonts/omnes-regulier/omnes-regular-webfont.svg#MarckScriptRegular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'OmnesSemibold';src: url('./fonts/omnes-semibold/omnes-semibold-webfont.eot');src: url('./fonts/omnes-semibold/omnes-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('./fonts/omnes-semibold/omnes-semibold-webfont.woff') format('woff'),url('./fonts/omnes-semibold/omnes-semibold-webfont.ttf') format('truetype'),url('./fonts/omnes-semibold/omnes-semibold-webfont.svg#MarckScriptRegular') format('svg');font-weight: normal;font-style: normal;}
#container{
	text-shadow: none;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
}
.sep-70px{height:70px;overflow:hidden;display:block;}
.menu{
	width: 100%;
}
.menu a.ui-link{
	color: #FFFFFF !important;
}

.item1, .item2, .item3{
font-size: 118%;
padding: 5px 12px;
display: inline-block;
background: #D1CCC8;
color: white;
font-family: 'OmnesSemibold';
text-transform: uppercase;
}
.item1, .item2, .item3{
	margin-right: 5px;
}

a.ui-link{
	color: black;
}

.icons{
	margin-bottom: 20px;
}

.recherche.accueil{
	border-top: 1px solid #D1CCC8;
        background: #313D49;
        padding: 15px;
}

.form-recherche{
/*	margin: 10px 0px 10px 0px;
	text-align: center;*/
}

.min-width-480px .ui-input-search {
/*    width: 180px !important;*/
}
.ui-input-search{padding-left: 25px !important; }
.ui-icon-searchfield {background: #fff url(../images/pictos-loupe.png) no-repeat 6px center !important;border: none !important;}
.ui-icon-delete{background: #fff url('../images/croix.png') no-repeat center !important;position: absolute;top: 0;bottom: 0;margin: auto;}
.ui-btn-up-b{text-align: center;cursor: pointer !important;width: 30px !important;height: 30px !important;
background: #70777F !important;
color: white !important;
font-weight: bold !important;background: red !important;}
.ui-btn-text{display: none;}
.ui-btn-hover-b{text-align: center;cursor: pointer !important;width: 30px !important;height: 30px !important;
background: #70777F !important;
color: white !important;
font-weight: bold !important;}
.PageRoot{
	padding: 9px 9px 30px 16px;
	border-top: 1px solid #d1ccc8;
}
.PageRoot a.ui-link{
	font-weight: normal;
}
.PageRoot a.ui-link:hover{
    text-decoration: underline;
}
.contenu {overflow: hidden;}
.contenu > img {border-bottom:1px solid #D1CCC8 !important;border-top: 1px solid #D1CCC8 !important;}

.copyright{border-top: 1px solid #D1CCC8;padding: 20px;background: #313d49;color: #fff;}
.copyright .menu-bas-page{width: 70%;float: left;color: #fff;}
.copyright .realisation-ayaline{width: 30%;float: left;color: #fff;}
.copyright a{color: #fff !important;}


.pieds-page{z-index: 58598;border-top: 1px solid #70777f;padding: 4px 0;min-height: 60px;background: #313d49 !important;position: fixed;bottom: 0;width: 320px;}
.pieds-page ul{margin: auto;}
.pieds-page ul li{float: left;margin-right: 5px;}
.lien-arrondi-br-nv{width: 58px;height: 58px;border-radius: 37px;display: block;-moz-border-radius :37px;-webkit-border-radius: 37px;behavior: url('css/pie.htc');position:relative;}
.retour{display: block;background:#fff url('../images/fleche-gris.png') no-repeat center;border: 3px solid #70777f;width: 49px;height: 49px;border-radius: 26px;-moz-border-radius :26px;-webkit-border-radius: 26px;behavior: url('css/pie.htc');position: relative;}
.supp-itiniraire{display: none;background:#fff url('../images/supp-itiniraire.png') no-repeat center;border: 3px solid #70777f;width: 49px;height: 49px;border-radius: 26px;-moz-border-radius :26px;-webkit-border-radius: 26px;behavior: url('css/pie.htc');position: relative;}
.pictos-google-maps-actif{float: right;display: block;width: 49px;height: 49px; border-radius: 28px;-moz-border-radius :28px;-webkit-border-radius: 28px;behavior: url('css/pie.htc');position:relative;border: 3px solid #70777f;background: #fff url('../images/pictos-google-map.png') no-repeat center;}
.pictos-google-maps-desactif{display: none;float: right;width: 49px;height: 49px; border-radius: 28px;-moz-border-radius :28px;-webkit-border-radius: 28px;behavior: url('css/pie.htc');position:relative;border: 3px solid #70777f;background: #fff url('../images/pictos-google-map.png') no-repeat center;}
#breadcrumbs{background: #fff;padding: 9px 9px 30px 16px;border-top: 1px solid #D1CCC8;}
#breadcrumbs a{color: #000;}
#breadcrumbs div{display:inline}
#breadcrumbs div.dernier>a{font-weight: bold;}
#breadcrumbs a:hover{text-decoration: underline;}

.liste-interets article.vignette-simple{position: relative;background: #98e2cc;padding: 0 20px 0 5px;border-top: 1px solid #d1ccc8;border-bottom: 1px solid #d1ccc8;}
.liste-interets article.vignette-simple>div{background: #fff;}
.liste-interets article.vignette-simple>div>a.article-image{display: block;float: left;height: 70px;}
.liste-interets article.vignette-simple>div>p{padding-left: 9px;width: 109px;float: left;padding-top: 10px;height: 60px;display: table;}
.liste-interets article.vignette-simple>div>p>a{color: black;font-weight: bold;font-size: 104%;display: table-cell;vertical-align: middle;}
.liste-interets article.vignette-simple>div>p>a:hover{text-decoration: none;}
.liste-interets .fleche{top:0;bottom: 0;margin: auto;right: 5px;position: absolute;width: 44px;height: 44px;}
.google-maps-actif-circuit{display: none;}
.itiniraire-circuit{display: none;}
.masquer-bloc-info{display: none;}
.masquer-bloc-image{display: none;}
.liste-interets .vignette-mise-en-avant article{position: relative;background: #313d49;padding-left: 20px;margin-bottom: 1px;}
.liste-interets .vignette-mise-en-avant article>a.article-image{display: block;height: 100px;}
.liste-interets .vignette-mise-en-avant .bloc-titre{display: block;position: absolute;left: 0;right: 0;top: 0;color: #fff;min-height: 100px;}
.liste-interets .vignette-mise-en-avant a:hover{text-decoration: none;}
.liste-interets .vignette-mise-en-avant .article-titre{float: left;width: 120px;padding: 22px 0 9px 30px;color: #000;font-weight: bolder;font-size: 125%;}
.border-bottom{border-bottom: 1px solid #d1ccc8;}
.titre-parcours{font-size: 98%;font-weight: normal;}
.fiche-interet h2{background: #fff;font-family: 'OmnesMedium';color: black;padding: 5px 18px;font-weight: 100;}
.fiche-interet .video{border-top: 4px solid #000;border-bottom: 4px solid #000;position: relative;}
.fiche-interet .video div.jp-audio ul.jp-controls {width: 320px;padding:20px 7px 0 7px;}
.fiche-interet .video div.jp-audio div.jp-type-single div.jp-progress {
	left:90px;
	width:140px;
}
.fiche-interet .video div.jp-audio {
width: 318px;
}
.fiche-interet .video div.jp-audio div.jp-type-single a.jp-mute,
.fiche-interet .video div.jp-audio div.jp-type-single a.jp-unmute {
	margin-left: 150px;	
}
.fiche-interet .video div.jp-audio a.jp-volume-max {
margin-left: 44px;
}
.fiche-interet .video div.jp-audio div.jp-volume-bar {
top: 37px;
left: 250px;
}
.fiche-interet .video div.jp-volume-bar {
position: absolute;
overflow: hidden;
background: url("../images/jplayer.blue.monday.jpg") 0 -250px repeat-x;
width: 44px;
height: 5px;
cursor: pointer;
}
.fiche-interet .video div.jp-audio div.jp-type-single div.jp-time-holder {
left: 90px;
width: 142px;
}
.fiche-interet .video div.jp-current-time, .fiche-interet .video div.jp-duration {
width: 58px;
font-size: .64em;
font-style: oblique;
}

.titre-video{left:0;right:0;font-size: 120%;background: url(../images/point-bleu.png);display: block;position: absolute;top:0;z-index: 2345;color: #fff;max-width: 100%;padding: 9px 17px;}
.bloc-plus-image a.plus-image{top: 0;bottom: 0;display: block;position: absolute;margin: auto;right:4px;}
.plus-image-ouvert{display: none}
.bloc-plus-image .plus-image-ouvert{display: none;top: 0;bottom: 0;position: absolute;margin: auto;right:4px;}
.plus-info .plus-info-detail{margin-bottom: 20px;background: #fff;margin-left: 5px;padding: 15px;padding-left: 0;display: none;}
.plus-info{border-top: 1px solid #d1ccc8;border-bottom: 1px solid #d1ccc8;}
.plus-info .accroche-plus-info{position: relative;padding: 10px 4px 10px 15px;min-height: 46px;background: #e4e3de;}
.plus-info .accroche-plus-info p{margin-right: 57px;padding-top: 10px;}
.plus-info .accroche-plus-info a.lien-plus-info{top: 0;bottom: 0;position: absolute;margin: auto;right:4px;}
a.lien-plus-info-ouvert{display: none;}
.texte-vert{color:#54c9a6;}
.plus-info-detail .onlineeditor p{padding-left: 30px;padding-bottom: 15px;}
.plus-info-detail .onlineeditor .border-left-vert-5px strong,.plus-info-detail .onlineeditor .border-left-vert-5px p{padding-left: 10px;font-style: italic;}

.plus-info .accroche-plus-info a.lien-plus-info-ouvert{top: 0;bottom: 0;position: absolute;margin: auto;right:4px;}
.contenu-fiche-detail{margin-bottom: 20px;}
a.quizz{top: 0;bottom: 0;display: block;position: absolute;margin: auto;right:4px;}


.google-map-actif-circuit{display: none}
bloc-carte-google .google-map-actif-circuit{position: absolute;top:0;bottom: 0;right:0;}
bloc-carte-google .google-map-ferme-circuit{position: absolute;top:0;bottom: 0;right:0;}
.puce-css{display: inline-block;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 6px solid #98E2CC;margin-right: 5px}
.reference-fiche-detail{padding-left: 30px}
.reference-fiche-detail .onlineeditor .strong-puce{padding-top: 4px;border-top: 1px solid #e4e3de;}
.reference-fiche-detail .onlineeditor strong{text-transform: uppercase;font-size: 89%;}
.reference-fiche-detail .onlineeditor p{padding-left: 0;color: #70777F;font-size: 85%;}
.reference-fiche-detail .titre-reference{font-weight: bolder;text-transform: uppercase;color: #98e2cc;display: block;margin-bottom: 8px;}
.underline{text-decoration: underline;}
.arrier-plan-gris{background: #e4e3de;}
.bloc-plus-image{border-top: 1px solid #d1ccc8;overflow: hidden;}
.info{min-height: 46px;position: relative;padding: 10px 4px 10px 15px}
.accroche-plus-image{background: #e4e3de;}
.info p{margin-right: 57px;padding-top: 10px;}
.puce-gris{background: url('../images/puce-gris.png') no-repeat 4px center;padding-left: 15px;}

.liste-medias{padding: 8px 8px 8px 8px;margin-left: 5px;background: #fff;display: none;margin-bottom: 20px;}
.liste-medias .media{margin-bottom: 10px;}
.liste-medias .diaporama>a.image{display: block;width: 70px;text-align: center;background: #e4e3de;height: 35px;}
.liste-medias .diaporama{position: relative;float: left;width: 70px;}
.liste-medias .diaporama>a.droite{display: block;background: #fff url('../images/fleche-gris-gauche.png') no-repeat center;height: 20px;width: 20px;border-radius: 11px;position: absolute;top:0;bottom: 0;margin: auto;left:0;}
.liste-medias .diaporama>a.gauche{display: block;background: #fff url('../images/fleche-gris-droitre.png') no-repeat center;height: 20px;width: 20px;border-radius: 11px;position: absolute;top:0;bottom: 0;margin: auto;right:0;}
.liste-medias .diaporama>a.gauche{position: absolute;top:0;bottom: 0;margin: auto;right:0;}
.liste-medias .contenu-media{margin-left: 80px;}
.liste-medias .contenu-media h3{margin-bottom: 0;font-size: 86%;}
.liste-medias .contenu-media .puce-gris{font-size: 81%;}

.liste-medias .media-video>a.video{display: block;width: 70px;text-align: center;background: #000;height: 35px;}
.liste-medias .media-video{position: relative;float: left;width: 70px;}
.liste-medias .media-video>a.play-video{display: block;background: #fff url('../images/puce-play.png') no-repeat center;height: 20px;width: 20px;border-radius: 11px;position: absolute;top:0;bottom: 0;margin: auto;left:0;right:0;}

.liste-medias .play-audio{float: left;display: block;width: 70px;background: #000 url('../images/audio-play.png') no-repeat center;height: 35px;}
.masquer-bloc{display: none;}
/*** Page liste hotels ***/
.liste-hotel #Main{
	padding:0;
}

.titre-liste{
	border-bottom: 1px solid #c9bdb2;
	margin-bottom: 10px;
}

.rech-dispo{
	border-bottom: 1px solid #c9bdb2;
	background: url('../images/rech-dispo-degrade.png') 0 0 repeat-x;
}
.rech-dispo a{
	margin-bottom: 10px;
	padding-left: 15px;
	display: block;
	background: url("../images/picto-orange.png") no-repeat scroll 285px 0 transparent;
	font-size: 14px;
}

.liste-hotel h2{
	margin: 5px 0px 5px 15px;
	padding: 0;
	font-family: 'OmnesLight';
	font-size: 27px;
	color: #313E47;
}

.float-gauche{
	float: left;
}
.float-droite-picto{
	float: right;
	position: relative;
	right: 20px;
}
.float-droite{
	float: right;
}

.liste-hotel-contenu{
	background: none repeat scroll 0 0 #FAF9F7;
	padding: 0px;
	margin: 0px;
	list-style:none;
}
.liste-hotel-contenu li{
	border-top: 1px solid #c9bdb2;
	padding: 10px 0px 10px 10px;
	margin:0;
}
.liste-hotel-contenu li:first-child{
	border-top: none;
}
.liste-hotel-contenu h3{
	margin: 0px 0px 10px 150px;
}
.liste-hotel-contenu h3 a{
	margin-right: 10px;
}
.sous-titre{
	margin: 0px 0px 5px 150px;
	font-size: 11px;
}
.sous-titre span{
	text-transform: uppercase;
}
.prix{
	margin: 0px 0px 10px 150px;
	font-style: italic;
	font-weight: bold;
	color: #00BBD1;
	font-size: 12px;
}

.result-suiv{
	text-align: right;
	background: none repeat scroll 0 0 #E5DCD3;
	border-top: 1px solid #c9bdb2;
	border-bottom: 1px solid #c9bdb2;
	padding: 10px 15px 10px 0px;
}



/*** Page fiche hotel ***/
.fiche-hotel #Main {
    background: none repeat scroll 0 0 #F6F2EF;
}

.fiche-hotel h2{
	float: left;
	margin: 5px 15px 5px 15px;
}

.titre-fiche{
	border-bottom: 1px solid #c9bdb2;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #F6EFE9;
}
.titre-fiche img{
	position: relative;
	top: 14px;
}

.apercu-fiche{
	margin: 0px 0px 20px 15px;
}
.apercu-fiche img.float-gauche{
	margin-right: 15px;
}
.apercu-fiche .prix {
    font-size: 14px;
}
.adresse, .tel{
    font-size: 12px;
}
.tel{
	margin-bottom: 12px;
}
.apercu-fiche a img{
	margin-right: 8px;
}

.titre-deroulant{
	border-top: 1px solid #c9bdb2;
	border-bottom: 1px solid #c9bdb2;
	background: url('../images/fiche-hotel-degrade.png') 0 0 repeat-x #E4D6CB;
}
.titre-deroulant a{
	margin: 0px;
	padding: 7px 0px 7px 25px;
	display: block;
	background: url("../images/fleche-bleu-droite.png") no-repeat scroll 290px 6px transparent;
	font-size: 10px;
	text-transform: uppercase;
	font-family: verdana, sans-serif;
}
.titre-deroulant.actif a{
	background: url("../images/fleche-bleu-bas.png") no-repeat scroll 284px 9px transparent;
}

.contenu-deroulant{
	margin: 20px;
}

.result-suiv .retour{
	float: left;
	margin-left: 15px;
}

/***diaporama ****/
/*** diaporama ***/
.media-diaporama{display: none;max-width: 250px !important;}
.jDiaporama_wrapper{position: relative;clear: both;}
.jDiaporama_slider{position:relative;overflow: hidden;}
.jDiaporama ul{-moz-box-shadow:1px 1px 0.5em #222;overflow:hidden;position:absolute;left:0;}
.jDiaporama li{list-style-type:none;overflow:hidden;float:left;position:relative;background: #000}
.jDiaporama li img{display:block;margin: 0 auto}
.jDiaporama .fade-tmp{position:absolute;z-index:1;text-align: center;background: #000}
.jDiaporama .fade-tmp img{margin:0 auto;display:block}
.jDiaporama-slice {display:block;position:absolute;z-index:5;height:100%;}
.jDiaporama .desc{
	color:#fff;
	font-size:12px;
	font-family: Arial;
	padding:5px;
	background:red;
	padding-bottom:20px;
	text-align:left
}

.jDiaporama .title{
	position:absolute;
	top: 0; left: 0;
	margin:0;
	color:#fff;
	font-size:12px;
	font-family: Arial;
	padding:5px;
}

.jDiaporama .count{
	position:absolute;
	top: 0; right: 0;
	display:none;
	margin:0;
	color:#fff;
	font-size:12px;
	font-family: Arial;
	padding:5px;
}

.jDiaporama_controls a{
	font-weight:normal;
	width:10px;
	height:13px;
	text-indent:-9999px;
	display:block;
	margin:0 3px;
	position:absolute;
	z-index:1
}

.jDiaporama_controls .prev{
display:none;
	background:url(img/controls2.png) no-repeat bottom;
	_background:url(img/controls.gif) no-repeat bottom;
	top:50%;
	margin-top:-16px;
	height:32px;
	width:32px;
	left: 0px
}

.jDiaporama_controls .next{
display: none;
	background:url(img/controls2.png) no-repeat top;
	_background:url(img/controls.gif) no-repeat top;
	top:50%;
	margin-top:-16px;
	height:32px;
	width:32px;
	right: 0px
}

.jDiaporama_controls .pause{
    display: none;
	background:url(../images/play-video.png) no-repeat center;
	width:80px;
	height:80px;
	left:50%;
	top:50%;
	margin-left:-32px;
	margin-top:-24px;
}

.jDiaporama_controls .play{
	background:url(../images/play-video.png) no-repeat center;
	width:80px;
	height:80px;
	left:50%;
	top:50%;
	margin-left:-32px;
	margin-top:-24px;
}

/**** Status ****/

.jDiaporama_status{
	text-align:center;
	margin: 10px auto;
	display:none !important;
	overflow:hidden;
}

.jDiaporama_status a{
	background:url(img/bullets.png) no-repeat left;
	width:10px;
	height:10px;
	text-indent:-9999px;
	margin-right:5px;
        background: url(../images/point-bleu.png);display: block;
}

.jDiaporama_status .imgBack{
	width:50px;
	height:50px;
	margin-right:10px;
	margin-bottom: 10px
}

.jDiaporama_status a:hover, .jDiaporama_status a.active{
	background:url(img/bullets.png) no-repeat right;
	_background:url(img/bullets.gif) no-repeat right;
}

/********** themes ***********/

/** DESIGN **/

.design .jDiaporama_slider{ -moz-box-shadow:0 0 0.7em #333; }
.design .jDiaporama_status .imgBack{ -moz-border-radius:0.5em; -moz-box-shadow:0 0 0.3em #444; -webkit-border-radius:0.5em; -webkit-box-shadow:0 0 0.3em #444; border-radius:0.5em; box-shadow:0 0 0.3em #444; border:1px solid #555; opacity:0.4; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.design .jDiaporama_status .imgBack:hover{ opacity:1;  -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in }
.design .jDiaporama_status .imgBack.active{ -moz-box-shadow:inset 0 0 0.5em #333; opacity:1 }

/** BORDER **/

.border .jDiaporama_slider{ border:10px solid #fff }
.border .jDiaporama_status .imgBack{ border:2px solid #fff; opacity:0.5 }
.border .jDiaporama_status .imgBack:hover{ opacity:1 }
.border .jDiaporama_status .imgBack.active{ opacity:1; border:2px solid #333 }
.border .jDiaporama_controls .next{ right:10px; }
.border .jDiaporama_controls .prev{ left:10px; }
.jDiaporama_controls{display: block;}

/*** QUIZZ ***/
.quizz-question{background: #1abbb7;}
.background-quizz{background:#fafdfd url('../images/quizz-ariere-plan.png') no-repeat;padding: 5px 5px 20px 16px;margin: 5px 0 20px 5px;}
.background-quizz-reponse{background:#1abbb7 url('../images/background-quizz-reponse.png') no-repeat;padding: 5px 5px 20px 16px;margin: 5px 0 20px 5px;}
.question{padding-right: 48px;margin-bottom: 5px;}
.question-reponse .reponses li{display: block;width: 45%;margin-right: 10px;}
.instant-gagnant{background: #313d49;padding: 10px 26px 14px 15px;}
.instant-gagnant h2{font-size: 120%;margin-bottom: 4px;color:#d6ee0c;font-family: 'OmnesSemibold';text-transform: uppercase;font-weight: 100;}
.instant-gagnant .diaporama-gagnat{float: left;display: block;background:  #d7fd06 url('../images/doaporama-gagnant.png') no-repeat center;width: 58px;height: 36px;}
.instant-gagnant .contenu-gagnant{margin-left: 68px;color: #fff;}
.instant-gagnant .contenu-gagnant>p{font-size: 90%;}
a.voir-lots{display: block;color: #d6ee0c !important;background: url(../images/puve-vert-jaune.png) no-repeat 0 center;padding-left: 15px;}
/*.ui-btn-text{display: none;}*/
.tirage-au-sort{background: #f7eee9;padding : 10px 14px;padding-right: 20px;border-top: 1px solid #d1ccc8;}
.tirage-au-sort h2{color: #1abbb7;font-size: 120%;margin-bottom: 4px;font-family: 'OmnesSemibold';text-transform: uppercase;font-weight: 100;}
.tirage-au-sort>img{float: left;}
.tirage-au-sort p{font-size: 90%;}
.tirage-au-sort .contenu-tirage-au-sort{margin-left: 68px;}
.text-vert{color:#1abbb7;}
.texte-vert-souligne{color:#1abbb7 !important;text-decoration: underline !important;}
/**** forme reponse ****/
.texte-rouge{color: #ff0000;}
.form-reponse .formulaire-reponse .ligne-form{margin-bottom: 5px;}
.form-reponse .formulaire-reponse .ligne-form .champ-form{margin-bottom: 2px;}
.form-reponse .formulaire-reponse .ligne-form .champ-form label{font-size: 110%;width: 100%;}
.form-reponse .formulaire-reponse .ligne-form.obligatoire .champ-form label, .form-reponse .formulaire-reponse .ligne-form.obligatoire .input-form input{font-weight: bold;color: #000;font-style: normal;}
.form-reponse .formulaire-reponse .ligne-form .champ-form label{font-style: italic;color: #70777f;}
.form-reponse .formulaire-reponse .ligne-form .input-form input{background: #fff;padding: 5px 5px;font-weight: bold;color: #70777f; font-size: 120%;}
.form-reponse .formulaire-reponse .ligne-form .input-form + .input-form{margin-top: 4px;}
.form-reponse .formulaire-reponse .ligne-form.checkbox{margin-top: 15px;}
.form-reponse .formulaire-reponse .ligne-form.checkbox .champ-form.checkbox span{cursor: pointer;}
.form-reponse .formulaire-reponse .ligne-form.checkbox .champ-form.checkbox .check{cursor: pointer;background: url('../images/checkbox-inactif.png') no-repeat 0 0;padding-left: 30px;min-height: 20px;font-size: 88% !important;font-weight: 700;}
.form-reponse .formulaire-reponse .ligne-form.checkbox .champ-form.checkbox.actif .check{background: url('../images/checkbox-actif.png') no-repeat 0 0;}
.form-reponse .formulaire-reponse .ligne-form.checkbox input[type=checkbox]{display: none;}
.form-reponse .formulaire-reponse .ligne-form.checkbox .champ-form{width: 91%;}
.form-resp{padding: 5px 0 20px 5px;background: #1abbb7;}
.quizz-resultat{padding: 1px 0 1px 1px;background: #1ABBB7;}
.resultat-reponse{padding-bottom: 30px;margin-top: 10px;}
.resultat-mauvaise{color: #1abbb7;padding-top:10px;display: block;font-weight: bold;}
.resultat-reponse>span{float: left;margin-right: 10px;}
.resultat-reponse>p{width: 180px;float: left;font-family: 'OmnesMedium';font-weight: 500;font-size: 177%;}
.quizz-reponse{padding-right: 7px;}
.quizz-reponse>h1{color: #1abbb7;}
.quizz-reponse .resultat-question{padding: 10px 0; border-top:1px solid #e4e3de;border-bottom:1px solid #e4e3de;color:#70777f;font-style: italic;}
.arriere-plan-jaune{background:#e5e604 url('../images/arriere-plan-gagne.png') no-repeat center;}
.bloc-statut-resultat{padding: 10px;border-top: 1px solid #d1ccc8;}
.font-size-96{font-size: 96%;}
.couleur-gris{color: #70777f;}
.bloc-statut-resultat .statut-resultat{font-family: 'OmnesSemibold';font-size: 120%;text-transform: uppercase;}
.titre-principal{font-family: 'OmnesMedium';padding:6px 103px 6px 22px ;border-bottom: 1px solid #d1ccc8;text-shadow: 0 0 1px #AAA;font-weight: 200;font-size: 190%;line-height: 1em;}

.border-left-5px{padding-top:10px;border-left: 5px solid #e4e3de;}
.border-left-10px{border-left: 10px solid #e4e3de;}
.border-left-10px strong{padding-left: 7px}
.border-left-10px p{padding-left: 8px !important;}
.texte-marron-underline{color: #7b5e51;text-decoration: underline;}
.texte-gris{color: #70777f;font-size: 84%;margin-bottom: 0px !important;}
.infos p{padding-bottom: 0 !important;}
.no-padding-left{padding-left: 0 !important;}
.arrier-plan-marron{background: #e4e3de;padding-bottom: 7px;}
.accroche_contenu_libre>div.onlineeditor p{padding: 6px 23px;border-bottom: 1px solid #d1ccc8;font-weight: bold;font-size: 90%;}
a.jp-video-play-icon{position: absolute !important;display: block !important;width: 80px !important;height: 80px !important;top: -30% !important;background: url("../images/play-video.png") no-repeat !important;text-indent: -9999px !important;bottom: 0 !important;right: 0 !important;left: 0 !important;margin: auto !important;}

.form-recherche button{color: #fff !important;font-weight: bold;
    background: #70777f !important;
   width: 30px !important;height: 30px !important;padding-left: 4px !important; 
    border-radius: 30px !important;display: block;-moz-border-radius :30px !important;-webkit-border-radius: 30px !important;behavior: url('css/pie.htc');position:relative;
    cursor: pointer !important;
    border: none;
}
/******************/
/*** Fin alexia ***/
/******************/

/**************** Début mZammouri ******************/
.info-window-gmap{
    display: block;
    padding: 0px;
    width: 250px;
    position: relative;
}
.info-window-gmap .visuel{
    display: block;
    width: 100px;
    float: left;
    margin-right: 8px;
    padding-left: 5px;
}
.info-window-gmap .visuel img{
    width: 100px;
}
.info-window-gmap .titre{
    display: block;
    width: 135px;
    float: right;
    font-family: arial;
    font-weight: bold;
    font-size: 130%;
    padding-bottom: 40px;
}
.info-window-gmap .tracer-itineraire{
    display: block;
    font-weight: normal;
    color: #000;
    position: absolute;
    bottom: 5px;
    left: 113px;
    padding-left: 18px;
    padding-top: 18px;
    background: url('../images/puce-pieton.png') no-repeat 0 100%;
    text-decoration: underline;
}
/**************** Fin mZammouri ******************/

/************************/
/*** Début melbajjati ***/
/************************/

/*** OnlineEditor ***/
.arrier-plan-marron > div.onlineeditor{background-color: #fff;margin-bottom: 20px;}
.arrier-plan-marron > div.onlineeditor p{padding:0 33px;padding-bottom: 10px;}
.page-standard .onlineeditor h2{color: #7b5e51;padding-left: 12px;font-size: 140%;padding-bottom: 10px;}
.page-standard .onlineeditor h3{color: #7b5e51;padding-left: 33px;font-size: 110%;text-transform: uppercase;padding-bottom: 5px}
.page-standard .onlineeditor h4{color: #7b5e51;padding-left: 33px;font-size: 100%;text-transform: uppercase;padding-bottom: 5px}
.titre_puce_marron{text-transform: uppercase;background: url(../images/puce-marron.png) no-repeat 0 13px;margin-left: 33px !important;padding-left: 12px !important;margin-right: 10px !important;font-size: 84% !important;border-top: 1px solid #E4E3DE !important;padding-top: 10px !important;margin-bottom: 5px !important;color: #000000 !important;}
.titre_puce_vert{text-transform: uppercase;background: url(../images/puce-vert.png) no-repeat 0 8px;font-size: 89% !important;border-top: 1px solid #E4E3DE !important;padding-left: 12px !important;padding-top: 4px !important;color: #000000 !important;margin-bottom: 0px !important;}
.plus-info-detail .onlineeditor a{color:#1ABBB7; text-decoration: underline;}
.page-standard .onlineeditor a {color:#7B5E51; text-decoration: underline;}
.infos{padding-bottom: 10px;color: #70777f;font-size: 85%;}
.reference-fiche-detail h2{color: #98E2CC;display: block;font-family: 'OmnesMedium';font-size: 140%;font-weight: bolder;margin-bottom: 8px;text-transform: uppercase;}
.reference-fiche-detail h3{color: #98E2CC;display: block;font-family: 'OmnesMedium';font-size: 110%;font-weight: bolder;margin-bottom: 8px;text-transform: uppercase;}
.reference-fiche-detail h4{color: #98E2CC;display: block;font-family: 'OmnesMedium';font-size: 100%;font-weight: bolder;margin-bottom: 8px;text-transform: uppercase;}
.reference-fiche-detail p {color: #70777F;font-size: 85%;padding-left: 0 !important;}	
.onlineeditor .object-left {float:left;}
.onlineeditor div.object-left img {margin: 0 5px 0 5px;}
.onlineeditor .object-right {float:right;padding: 0 12px 10px;}
.onlineeditor .object-center {text-align:center}
/*** Fin OnlineEditor ***/

/*** Page de resultats ***/
.titre-basique h2{
	border-bottom: 1px solid #D1CCC8;
    font-family: 'OmnesMedium';
    font-size: 190%;
    font-weight: 200;
    line-height: 1em;
    padding: 6px 103px 6px 22px;
    text-shadow: 0 0 1px #AAAAAA;
}
.page-resultats-mobile .bloc-similaire{
	margin: 10px 15px 10px 15px;
}
.page-resultats-mobile .bloc-similaire a{
	font-size: 16px;
}
.page-resultats-mobile .bloc-similaire a:hover{
	text-decoration: underline;
}

.page-resultats-mobile .feedback{
	margin: 10px 15px 10px 15px;
}
.page-resultats-mobile .warning{
	margin: 10px 15px 10px 15px;
}
.page-resultats-mobile .list-result-search{
	margin: 10px 15px 10px 15px;
	padding: 0px;
}
.page-resultats-mobile .list-result-search li{
	list-style:none;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #D1CCC8;
}
.page-resultats-mobile .bloc-pertinence-global{
	margin-bottom: 5px;
}
.page-resultats-mobile .bloc-pertinence-global span{
    float: left;
}
.page-resultats-mobile .bloc-pertinence-global .modification {
    float: left;
}
.page-resultats-mobile .bloc-pertinence-global span.date {
    float: none;
    text-transform: capitalize;
}
.page-resultats-mobile .bloc-pertinence{
    background: url("../images/bg_pertinence.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 9px;
    margin: 4px 4px 0;
    position: relative;
    width: 64px;
}
.page-resultats-mobile .bloc-pertinence div {
    background: url("../images/bg_pertinence-on.png") no-repeat scroll 0 0 transparent;
}
.page-resultats-mobile .list-result-search li h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0px;
    color: #7B5E51;
}
.page-resultats-mobile .conseils{
	margin: 10px 15px 10px 15px;
}
/*** Fin Page de resultats ***/

/************************/
/*** Fin melbajjati ***/
/************************/