#page{width: 100%;}
.pieds-page{width: 100%;left: 0;right: 0;margin-left: 0px !important;}
.ui-input-search {width: 80%;}
.min-width-480px .ui-input-search {width: 80%;}
#Main{border: none!important;}
div.ps-caption{bottom: 57px !important}
div.ps-toolbar{bottom: 6px !important}
.question-reponse .reponses li .reponse2{border: 4px solid #1ABBB7;width: 42px;height: 42px;}
.question-reponse .reponses li .reponse1{border: 4px solid #1ABBB7;width: 42px;height: 42px;}