@font-face {
    font-family: 'Aldo_SemiBold';
    src: url('fonts/aldo/aldo_semi-bold0.12-webfont-webfont.eot');
    src: url('fonts/aldo/aldo_semi-bold0.12-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aldo/aldo_semi-bold0.12-webfont-webfont.woff') format('woff'), 
         url('fonts/aldo/aldo_semi-bold0.12-webfont-webfont.ttf') format('truetype'), 
         url('fonts/aldo/aldo_semi-bold0.12-webfont-webfont.svg#WebfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OmnesLight';
    src: url('fonts/omnes_light/omnes_light-webfont.eot');
    src: url('fonts/omnes_light/omnes_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/omnes_light/omnes_light-webfont.woff') format('woff'),
         url('fonts/omnes_light/omnes_light-webfont.ttf') format('truetype'),
         url('fonts/omnes_light/omnes_light-webfont.svg#OmnesLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'OmnesLight';
}
.puce-20{
    width: 20px;
}
.clear-both{
    display: block;
    clear: both;
}
.cache{
    display: none!important;
}
.display-block{
    display: block;
}
.display-table{
    display: table
}
.display-table-cell{
    display: table-cell;
}
.small-font{
    font-size: 70%;
}
.medium-font{
    font-size: 85%;
}
.no-border{
    border: 0 none;
}
a{
    text-decoration: none;
}
ul,li{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
#global-carto{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
#overlay-loading{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/bg_menu_black.png');
    z-index: -1;
}
#overlay-loading img{
    position: absolute;
    top: 35%;
    left: 35%;
}
#google-map{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
#menu-top{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    /*background-color: #666565;*/
    z-index: 1;
    color: #000;
}
#menu-droite{
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 30px;
    /*background-color: #666565;*/
    z-index: 1;
}
#menu-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    /*background-color: #666565;*/
    z-index: 1;
    color: #000;
}
.section-menu{
    background: url('../images/bg_menu_black.png');
    color: white!important;
    position: relative;
    box-shadow: 0 0 5px #3b3a3a;
    -moz-box-shadow: 0 0 5px #3b3a3a;
    -webkit-box-shadow: 0 0 5px #3b3a3a;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
}
.section-menu:hover, .section-menu.active{
    color: #08BFFF!important;
    position: relative;
    text-shadow: 0px 0px 6px #08BFFF;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
}
#detail-produit{
    position: absolute;
    top: 50px;
    left: 20px;
    display: none;
    width: 240px;
    padding:5px 10px;
    border: 2px solid #e1e1e0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
    background: white;
}

#detail-produit .control{
    display: block;
    border-bottom: 1px solid #e1e1e0;
    padding-bottom: 5px;
    cursor: move;
}
#detail-produit .control .puce-categorie{
    font-size: 90%;
    font-weight: bold;
}
#detail-produit .control .puce-categorie img{
    display: block;
    float: left;
    margin-right: 5px;
}
#detail-produit .control .puce-close{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: url('../images/puce_close.png') no-repeat 50% 50%;
}
#detail-produit .content{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden; 
    display: block;
    
}
#detail-produit .content .adresse{
    font-size: 70%;
    color: #585855;
    font-weight: normal;
}
#detail-produit .content .intitule{
    font-size: 90%;
    color: #363636;
    font-weight: normal;
}
#detail-produit .content .web-mail{
    font-size: 70%;
    
    font-weight: normal;
}
#detail-produit .content .web-mail a{
    color: #585855;
}

#detail-produit .content .tel-fax{
    font-size: 70%;
    color: #585855;
    font-weight: normal;
}
#detail-produit .new-photos .new-photo{
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    margin: 1px;
    
}
#detail-produit .centre-valise .centre-carte{
    display: block;
    float: left;
    background: url('../images/icon_centrerCarte.png') no-repeat 50% 100%;
    width: 100px;
    height: 60px;
}
#detail-produit .centre-valise .ajout-valise{
    display: block;
    float: right;
    background: url('../images/icon_ajouterValise.png') no-repeat 50% 100%;
    width: 100px;
    height: 60px;
}
#detail-produit .centre-valise .retirer-valise{
    display: block;
    float: right;
    background: url('../images/icon_retirerValise.png') no-repeat 50% 100%;
    width: 100px;
    height: 60px;
}
#detail-produit .tracer-itineraire-ot{
    display: block;
    float: right;
    background: url('../images/icon_itineraire_OT.png') no-repeat 50% 100%;
    width: 100px;
    height: 60px;
}


#valise-container{
    display: none;
    position: absolute;
    bottom: 30px;
    width: 250px;
    background: white;
    border: 2px solid #e1e1e0;
    border-bottom: 0 none;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
}
#ma-valise{
    position: absolute;
    bottom: 0;
    right: 250px;
}
#valise-titre{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 228px;
    text-align: left;
    color: #000;
    padding-left: 25px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
    text-decoration: none;
}
#valise-elements{
    display: block;
    max-height: 400px;
    overflow-y: auto;
}
#valise-elements .element-valise{
    color: #585855;
    display: block;
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e1e1e0;
    
}
#valise-elements .element-valise .valise-adresse{
    color: #585855;
    font-size: 70%;
    margin: 3px 0;
}
#valise-elements .element-valise .valise-elt-image{
    display: block;
    position: relative;
    float: left;
    width: 40px;
    max-height: 40px;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #e1e1e0;
}
#valise-elements .element-valise .valise-elt-titre{
    font-size: 80%;
    color: #343434;
    display: block;
    padding-bottom: 2px;
}
#valise-elements .element-valise .remove-valise{
    display: block;
    float: right;
    width: 10px;
    height: 9px;
    margin-top: 3px;
    cursor: pointer;
    background: url('../images/icon_XrevmoveValise.png') no-repeat 0 0;
}
#valise-controls{
    display: table;
    width: 100%;
    text-align: center;
}
#valise-export-gpx{
    font-size: 70%;
    color: #585855;
    padding: 5px 10px 50px 10px;
    display: table-cell;
    background: url('../images/icon_exporterValise.png') no-repeat 50% 100%;
    width: 33%;
    text-decoration: none;
}
#valise-affiche-pictos{
    font-size: 70%;
    color: #585855;
    padding: 5px 10px 50px 10px;
    display: table-cell;
    background: url('../images/icon_afficherValise.png') no-repeat 50% 100%;
/*    width: 33%;*/
    text-decoration: none;
}
#valise-tracer-itineraire{
    font-size: 70%;
    color: #585855;
    padding: 5px 10px 50px 10px;
    display: table-cell;
    background: url('../images/icon_itineraireValise.png') no-repeat 50% 100%;
/*    width: 34%;*/
    text-decoration: none;
}

#menu-droite>ul{
    margin-top: 0px;
    position: absolute;
    bottom: 40px;
}
#menu-droite>ul>li{
    margin-top: 0px;
    position: relative;
}
#menu-droite>ul>li+li{
    margin-top: 0px;
}
#menu-droite>ul>li>a, #menu-droite>ul>li>.sous-menu>ul>li>a,#menu-droite>ul>li>.sous-menu>ul>li>.sous-menu>ul>li>a{
    display: block;
    color: #000;
    text-decoration: none;
}
#menu-droite>ul>li>.sous-menu{
    position: absolute;
    left: 30px;
    bottom: 0;
}
#menu-droite>ul>li>.sous-menu>ul>li>.sous-menu{
    position: absolute;
    left: 100%;
    bottom: 0;
}
#menu-droite>ul>li>.sous-menu>ul>li>.sous-menu>ul{
    margin-right:8px;
}
#menu-droite>ul>li>.sous-menu>ul>li>a{
    display: block;
    margin: 2px 0;
    display: block;
    padding-left: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#menu-droite>ul>li>.sous-menu>ul>li .titre-sous-menu{
    display: block;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid grey;
}
#menu-droite>ul>li>.sous-menu>ul>li .titre-sous-menu img{
    display: block;
    margin-right: 8px;
    float: left;
}
#menu-droite>ul>li>.sous-menu>ul>li .titre-sous-menu .text{
    display: block;
    padding-top: 7px;
}
#menu-droite>ul>li>.sous-menu>ul>li>a.active{
    color: #ffa405;
    text-shadow: 0px 0px 6px #ffa405;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
    
}
#menu-droite .sous-menu{
    background: url('../images/bg_menu.png');
    min-width: 205px;
    display: none;
    margin-right: 1px;
    color: #000;
    padding: 5px;
    position: relative;
    box-shadow: 0 0 5px #3b3a3a;
    -moz-box-shadow: 0 0 5px #3b3a3a;
    -webkit-box-shadow: 0 0 5px #3b3a3a;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
}
#menu-droite .sous-menu>ul{
    display: block;
}
#menu-droite .sous-menu a{
    color: #000;
    display: block;
}
#menu-droite .sous-menu label{
    color: #000;
    white-space: nowrap;
}
#menu-droite .sous-menu label{
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    padding-right: 20px;
    
}
#menu-droite .sous-menu label .categ-name{
    cursor: pointer;
    display: block;
    padding-bottom: 3px;
}

#menu-droite .sous-menu label img{
    display: block;
    float: left;
    margin-right: 3px;
}
#menu-droite .sous-menu #item-0 label:hover,#menu-droite .sous-menu #item-0 label.active,#menu-droite .sous-menu #item-0 label[checked="checked"]{
    color: #0cb4e3;
}
#menu-droite .sous-menu #item-1 label:hover,#menu-droite .sous-menu #item-1 label.active,#menu-droite .sous-menu #item-1label[checked="checked"]{
    color: #ff67cb;
}
#menu-droite .sous-menu #item-2 label:hover,#menu-droite .sous-menu #item-2 label.active,#menu-droite .sous-menu #item-2 label[checked="checked"]{
    color: #acbe15;
}
#menu-droite .sous-menu #item-3 label:hover,#menu-droite .sous-menu #item-3 label.active,#menu-droite .sous-menu #item-3 label[checked="checked"]{
    color: #ff7f00;
}
#afficher-titre{
    display: block;
    width: 6px;
    padding: 12px;
    text-transform: uppercase;
    word-wrap: break-word;
    margin: 1px auto;
    text-align: center;
}
#recherche-titre{
    display: block;
    width: 6px;
    padding: 12px;
    text-transform: uppercase;
    word-wrap: break-word;
    margin: 1px auto;
    text-align: center;
}
#outils-titre{
    display: block;
    width: 6px;
    padding: 12px;
    text-transform: uppercase;
    word-wrap: break-word;
    margin: 1px auto;
    text-align: center;
}
.marker-geocode-infos span{
    display: block;
    font-family: arial;
    font-size: 70%;
    font-weight: normal;
    color: #827f7f;
    text-align: left;
}
.marker-geocode-infos .geocode-titre{
    display: block;
    padding-bottom: 10px;
    font-family: arial;
    font-size: 90%;
    font-weight: bold;
    color: #4e4c4c;
    text-align: center;
}

#directions-details{
    position: absolute;
    top: 50px;
    left: 320px;
    display: none;
    width: 250px;
    padding:5px 10px;
    border: 2px solid #e1e1e0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
    background: white;
    z-index: 2;
}
#directions-details .control{
    display: block;
    border-bottom: 1px solid #e1e1e0;
    padding-bottom: 5px;
    cursor: move;
}
#directions-details .control .puce-close{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: url('../images/puce_close.png') no-repeat 50% 50%;
}
#directions-details .directions-details-titre{
    font-size: 90%;
    font-weight: bold;
}
#directions-details .directions-details-content{
    font-size: 70%;
    font-weight: normal;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden; 
}
#directions-details .directions-details-content .route-segment-allsteps{
    display: none;
    padding: 3px 8px;
    margin-top: 7px;
    border-top: 1px solid #d5d3d3;
}
#directions-details .directions-details-content .route-segment-step{
    padding: 4px 2px;
    display: block;    
    border-bottom: 1px solid #d5d3d3; 
}
#directions-details .directions-details-content .route-segment-step.no-border{
    border: 0 none;
}
#directions-details .directions-details-content .route-segment-step p{
    padding: 0;
    margin: 0;
}
#directions-details .directions-details-content .route-segment{
    display: block;
    margin: 7px 0;
    padding: 4px 0 4px 0;
    border: 1px solid #d5d3d3;
    border-right: 0 none;
    position: relative;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);   
}
#directions-details .directions-details-content .route-segment-content{
    display: block;
    padding: 5px 3px 0 5px;  
}
#directions-details .directions-details-content .show-route-instractions{
    display: block;
    padding: 5px 3px 0 5px;
    float: right;
    color: #0094db;
    font-style: italic;
}
#creer-trajet-form .display-table{
    padding-top: 7px;
}
#creer-trajet-form label{
    margin-bottom: 3px;
}
#creer-trajet-form .display-table a{
    display: block;
    padding: 4px 2px 0px 2px;
    text-decoration: none;
}
#outils-recherche-form{
    display: block;
    margin-bottom: 7px;
}
#outils-geocode{
    background: url('../images/menu/icon_recherche_perimetre.png') no-repeat 0 50%;
}
#outils-creer-trajet{
    background: url('../images/menu/icon_trajet_personnalise.png') no-repeat 0 50%;
}
#outils-recherche{
    background: url('../images/menu/icon_recherche_globale.png') no-repeat 0 50%;
}
#creer-trajet-reset{
    height: 40px;
    background: url('../images/menu/icone_effacer.png') no-repeat 50% 100%;
}
#creer-trajet-laststep{
    height: 40px;
    background: url('../images/menu/icone_annuler.png') no-repeat 50% 100%;
}
#creer-trajet-afficher-details{
    height: 40px;
    background: url('../images/menu/icone_details.png') no-repeat 50% 100%;
}
#outils-recherche-reset{
    height: 40px;
    background: url('../images/menu/icone_reinitialiser.png') no-repeat 50% 100%;
}
#outils-recherche-lastsearch{
    height: 40px;
    background: url('../images/menu/icone_precedent.png') no-repeat 50% 100%;
}
#outils-recherche-showAll{
    height: 40px;
    background: url('../images/menu/icone_refresh.png') no-repeat 50% 100%;
}
#delete-markers-geocode{
    height: 40px;
    background: url('../images/menu/icone_effacer.png') no-repeat 50% 100%;
}
.submit-puce-loupe{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background: url('../images/menu/icone_loupe.png') no-repeat 50% 50%;
    border: 0 none;
}
.submit-puce-loupe:hover{
    margin-bottom: 0px;
    border: 1px solid #999999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);
}
.detail-street-view{
    display: block;
    float: right;
    width: 60px;
    height: 70px;
    background: url('../images/menu/icone_sreet_view.png') no-repeat 50% 50%;
}
.detail-close-street-view{
    display: block;
    float: right;
    width: 60px;
    height: 70px;
    background: url('../images/menu/icone_sreet_view_close.png') no-repeat 50% 50%;
}
.effacer-marqueurs-fiches{
    display: block;
    padding: 9px 0 9px 20px;
    border-top: 1px solid grey;
    background: url('../images/menu/icon_balai.png') no-repeat 0 50%;
}
.reinitialiser-ma-recherche{
    display: block;
    margin-top: 15px;
    padding: 0 0 2px 20px;
    background: url('../images/menu/icon_rafraichi.png') no-repeat 0 0%;
}
#effacer-srch-itin-mrkrs{
    display: block;
    margin-top: 15px;
    padding: 0 0 2px 20px;
    background: url('../images/menu/icon_balai.png') no-repeat 0 0%;
}
.container-affichage-date{
    font-size: 80%;
    border: 1px solid grey;
    margin: 2px 0;
    padding: 3px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior:url(/extension/ez_aya_carto/design/standard/stylesheets/pie.htc);  
}
.container-affichage-date .rv-puce-calendrier{
    display: block;
    padding-right: 20px;
    background: url('../images/menu/icon_calendrier.png') no-repeat 100% 50%;
}
.ui-widget{
    font-size: 0.7em;
}
.container-affichage-date .affichage-date-options{
    display: block;
    margin: 3px 0;
}
.container-affichage-date .affichage-date-name{
    display: block;
    margin: 3px 0;
    white-space: nowrap;
}
.container-affichage-date .affichage-date-name .affichage-date-name-text{
    display: block;
    padding: 2px 1px;
    float: left;
    font-size: 120%;
}
.container-affichage-date .affichage-date-name img{
    display: block;
    float: left;
}
.container-affichage-date .affichage-date-rollover{
    display: none;
    overflow: hidden;
}
.input-auto-com{
    display: block;
    position: relative;
}
.input-auto-com input{
    display: block;
    position: relative;
    width: 190px;
    
}
.bloc-auto-complete{
    background-color: white;
    position: absolute;
    bottom: 100%;
    overflow: auto;
    margin-left: 2px;
    display: none;
    font-size: 70%;
    max-height: 300px;
}
.bloc-auto-complete ul li a{
    display: block;
    padding: 1px 5px;
}
.bloc-auto-complete ul li:hover{
    background-color: #e1e1e0;
}
#srch-fiche-itn-titre{
    background: url('../images/menu/icon_srch_itn_fiche.png') no-repeat 0 50%;
}
#srch-ot-itn-titre{
    background: url('../images/menu/icon_srch_itn_otfiche.png') no-repeat 0 50%;
}