@charset "utf-8";
/* CSS Document */

#container {
	background:#FFFFFF;
	margin:auto;
	width:488px;
}
#Header .logo{
	text-align:center;
	padding:15px 0 10px 0px;
}
.icons{
	padding:0 30px 0 30px;
}

table{
	width: 100%;
}
