@charset "utf-8";
/* CSS Document */

html,body {
	width:100%;
	margin:0;
	background:#666666;
}

/* STANDARD SETS */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
}
p {
	margin:0px;
	text-align:justify;
}
img {
	border:none;
}
img a:link{
	border:none;
}
h1 {
	font-size:1.1em;
	text-transform:uppercase;
	margin:0px;
}
a:link { color:#000; text-decoration:none; }
a:visited { color:#000; text-decoration:none; }

.clear{
	clear:both;
}
.none{
	display:none !important;
}

/*************************************/

/* TOP */
#Header{
	background:#313d48;
	padding:0 9px 0 10px;
}

.TopNavBar .menu{
	float:left;
}

#Main{
	background:#f6efe9;
	border:1px solid #c9bdb2;
	padding:0px;
}
/* PUSH - MISES EN AVANT*/
.push{
	padding:0px 1px 0 10px;
	background:url('../images/bg-bloc.png') 0 0 repeat-x #DFD1C4;
}
.push .arrow {
    float: right;
    margin: 0 8px 0 0;
	position: relative;
	top:23px;
}
.push .text {
    vertical-align: top;
	padding-bottom: 5px;
}
.text .title{
	font-weight:bold;
	text-transform:none;
	color:#000000;
	padding:0px;
}
.text .description{
	text-transform:none;
	color:#000000;
	font-weight:normal;
	padding:0px;
}
.text span{
	color:#e644ac;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	padding-top:5px;
}
.bottom{
	padding:3px;
	color:#FFFFFF;
	background:#666666;
	font-size:0.8em;
}

.icon {
	margin-top:5px;
	text-align:center;
	float:left;
	width:33%;
	font-size:small;
	vertical-align:top;
}

/* BOUTONS LARGE */
.btnAffiner {
	background:#A0A0A0 url(../images/bg_affiner.png) repeat-x;
	padding:15px;
	border-top:#999999 1px solid;
	font-weight:bold;
}
.btnAffiner .arrow {
	float:right;
}
.btnDispo {
	background:#A0A0A0 url(../images/bg_affiner.png) repeat-x;
	padding:15px;
	border-bottom:#999999 1px solid;
	font-weight:bold;
}

#Copyrights{
	background:#313d48;
	color:#ffffff;
	padding:18px 0 18px 18px;
}
#Copyrights p a{
	font-weight:bold;
	color:#ffffff !important;
	padding:2px 0 0 0;
	display:block;
}
.recherche .search .ui-icon-myapp-email {
	background-image: url("../images/bt-ok.png") ;
}



/**************/
/*** Alexia ***/
/**************/

/*** General ***/
@font-face {
	font-family: 'OmnesLight';
	src: url("../fonts/omnes_light-webfont.eot") format("eot"),
	url("../fonts/omnes_light-webfont.woff") format("woff"),
	url("../fonts/Omnes_Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

a.ui-link{
	color: black !important;
}

.pagenavigator{
	background: none repeat scroll 0 0 #E5DCD3;
	border-top: 1px solid #c9bdb2;
	padding: 10px;
}
.pagenavigator a.ui-link{
	font-weight: normal;
}
.pagenavigator a.ui-link:hover{
	text-decoration: underline;
}
.pagenavigator p{
	text-align: center;	
}
.pagenavigator .next{
	float:right;
}
.pagenavigator .previous{
	float:left;
}
.pagenavigator .current{
	font-weight:bold;
}

.titre-basique{
	border-bottom: 1px solid #C9BDB2;
}
.titre-basique h2{
	color: #313E47;
    font-family: 'OmnesLight';
    font-size: 27px;
    margin: 5px 0 5px 15px;
    padding: 0;
}

.titre-normal{
	margin-top: 0px;
	margin-bottom: 10px;
}


/*** Entete ***/
.logo img{
	float: left;
	position: relative;
	top: 20px;
	left: 100px;
}
.logo h2{
	color: white;
	font-family: 'OmnesLight';
	font-size: 28px;
	margin: 0px;
	/*font-weight: normal;*/
}
.logo h3{
	color: white;
	font-family: 'OmnesLight';
	font-size: 13px;
	padding: 0px 0px 12px 0px;
	margin: 0px;
	font-weight: normal;
}

#container{
	text-shadow: none;
}

.menu{
	width: 100%;
}
.menu a.ui-link{
	color: #FFFFFF !important;
}

.item1, .item2, .item3{
	background-color: #6F787F;
	padding-top: 9px;
	padding-bottom: 9px;
	font-family: 'OmnesLight';
	text-transform: uppercase;
	font-size: 14px;
	width: 32%;
	display:block;
	float:left;
	text-align: center;
}
.item1, .item2, .item3{
	margin-right: 5px;
}


/*** Page d'accueil ***/
.icons{
	padding-top: 25px !important;
	margin-bottom: 20px;
}

.icons a{
	font-weight: normal !important;
}


/*** Pied de page ***/
.recherche{
	background: none repeat scroll 0 0 #F6EFE9;
	border-left: 1px solid #C9BDB2;
	border-right: 1px solid #C9BDB2;
	border-bottom: 1px solid #C9BDB2;
}

.form-recherche{
	padding: 10px 0px 10px 0px;
	text-align: center;
}

.PageRoot{
	padding: 15px 0 15px 20px;
	border-left: 1px solid #C9BDB2;
	border-right: 1px solid #C9BDB2;
	border-bottom: 1px solid #C9BDB2;
	background: none repeat scroll 0 0 #FAF9F7;
}
.PageRoot a.ui-link{
	font-weight: normal;
}
.PageRoot a.ui-link:hover{
    text-decoration: underline;
}

.mise-en-avant{
	border-left: 1px solid #C9BDB2;
	border-right: 1px solid #C9BDB2;
	border-bottom: 1px solid #C9BDB2;
}


/*** Page liste hotels ***/
.liste-hotel #Main{
	padding:0;
}

.titre-liste{
	border-bottom: 1px solid #c9bdb2;
	/*margin-bottom: 10px;*/
}

.rech-dispo{
	border-bottom: 1px solid #c9bdb2;
	background: url('../images/rech-dispo-degrade.png') 0 0 repeat-x;
}
.rech-dispo a{
	margin-bottom: 10px;
	padding-left: 15px;
	display: block;
	background: url("../images/picto-orange.png") no-repeat scroll 285px 0 transparent;
	font-size: 14px;
}

.liste-hotel h2{
	margin: 5px 0px 5px 15px;
	padding: 0;
	font-family: 'OmnesLight';
	font-size: 27px;
	color: #313E47;
}

.float-gauche{
	float: left;
}
.float-droite-picto{
	background: url("../images/fleche-bleu.png") no-repeat scroll 0px 0px transparent;
	float: right;
	position: relative;
	right: 20px;
	bottom: 18px;
}
.float-droite-picto.pito-liste-hotel{
	bottom: 25px !important;
}
.float-droite{
	float: right;
	margin-right: 40px;
}

.liste-hotel-contenu{
	background: none repeat scroll 0 0 #FAF9F7;
	padding: 0px;
	margin: 0px;
	list-style:none;
}
.liste-hotel-contenu li{
	border-top: 1px solid #c9bdb2;
	padding: 10px 0px 10px 10px;
	margin:0;
}
.liste-hotel-contenu li:first-child{
	border-top: none;
}
.liste-hotel-contenu h3{
	margin: 0px 0px 10px 150px;
}
.liste-hotel-contenu h3 a{
	margin-right: 10px;
}
.sous-titre{
	margin: 0px 0px 5px 150px;
	font-size: 11px;
}
.sous-titre span{
	text-transform: uppercase;
}
.prix{
	margin: 0px 0px 10px 150px;
	font-style: italic;
	font-weight: bold;
	color: #00BBD1;
	font-size: 12px;
}

.result-suiv{
	background: none repeat scroll 0 0 #E5DCD3;
	border-top: 1px solid #c9bdb2;
	padding: 10px;
}
.result-suiv a.ui-link{
	font-weight: normal;
}
.result-suiv a.ui-link:hover{
	text-decoration: underline;
}


/*** Page fiche hotel ***/
.contenu-fiche {
    background: none repeat scroll 0 0 #F6F2EF;
}

.fiche-hotel h2{
	float: left;
	margin: 5px 15px 5px 15px;
}

.titre-fiche{
	border-bottom: 1px solid #c9bdb2;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #F6EFE9;
}
.titre-fiche img{
	position: relative;
	top: 14px;
}

.apercu-fiche{
	margin: 0px 0px 20px 15px;
}
.apercu-fiche img.float-gauche{
	margin-right: 15px;
}
.apercu-fiche .prix {
    font-size: 14px;
}
.adresse, .tel{
    font-size: 12px;
}
.tel{
	margin-bottom: 12px;
}

.apercu-fiche .disponibilites{
	background: url("../images/lien-dispo.png") no-repeat scroll 0px 0px transparent;
	display: block;
    height: 22px;
    width: 100px;
    float: left;
    margin-right: 10px;
}
.apercu-fiche .telephone{
	background: url("../images/lien-tel.jpg") no-repeat scroll 0px 0px transparent;
	display: block;
    height: 22px;
    width: 24px;
    float: left;
    margin-right: 10px;
}
.apercu-fiche .mail{
	background: url("../images/lien-mail.jpg") no-repeat scroll 0px 0px transparent;
	display: block;
    height: 22px;
    width: 24px;
    float: left;
}

.titre-deroulant{
	border-top: 1px solid #c9bdb2;
	border-bottom: 1px solid #c9bdb2;
	background: url('../images/fiche-hotel-degrade.png') 0 0 repeat-x #E4D6CB;
}
.titre-deroulant a{
	margin: 0px;
	padding: 7px 0px 7px 25px;
	display: block;
	background: url("../images/fleche-bleu-droite.png") no-repeat scroll 290px 6px transparent;
	font-size: 10px;
	text-transform: uppercase;
	font-family: verdana, sans-serif;
}
.titre-deroulant.actif a{
	background: url("../images/fleche-bleu-bas.png") no-repeat scroll 284px 9px transparent;
}

.contenu-deroulant{
	margin: 20px;
}

#accordion > div img{
	margin-right: 10px;
}
#accordion > div a.ui-link{
	font-weight: normal;
}
#accordion > div a.ui-link:hover{
	text-decoration: underline;
}

#accordion h3{
	background: url("../images/fiche-hotel-degrade.png") repeat-x scroll 0 0 #E4D6CB;
	font-weight: bold;
	text-transform:uppercase;
	font-size: 10px;
	font-family: verdana,sans-serif;
}

.result-suiv .retour{
	margin-left: 15px;
}


/*** Page detail rubrique ***/
.detail-rubrique{
	padding: 20px 20px 20px 20px;
}


/*** Page de resultats ***/
.page-resultats-mobile .bloc-similaire{
	margin: 10px 15px 10px 15px;
}
.page-resultats-mobile .bloc-similaire a{
	font-size: 16px;
}
.page-resultats-mobile .bloc-similaire a:hover{
	text-decoration: underline;
}

.page-resultats-mobile .feedback{
	margin: 10px 15px 10px 15px;
}
.page-resultats-mobile .warning{
	margin: 10px 15px 10px 15px;
}

.page-resultats-mobile .list-result-search{
	margin: 10px 15px 10px 15px;
	padding: 0px;
}
.page-resultats-mobile .list-result-search li{
	list-style:none;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px dotted #8C9195;
}

.page-resultats-mobile .bloc-pertinence-global{
	margin-bottom: 5px;
}
.page-resultats-mobile .bloc-pertinence-global span{
    float: left;
}
.page-resultats-mobile .bloc-pertinence-global .modification {
    float: right;
}
.page-resultats-mobile .bloc-pertinence-global span.date {
    float: none;
    text-transform: capitalize;
}

.page-resultats-mobile .bloc-pertinence{
    background: url("../images/bg_pertinence.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 9px;
    margin: 4px 4px 0;
    position: relative;
    width: 64px;
}
.page-resultats-mobile .bloc-pertinence div {
    background: url("../images/bg_pertinence-on.png") no-repeat scroll 0 0 transparent;
}

.page-resultats-mobile .list-result-search li h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0px;
}

.page-resultats-mobile .conseils{
	margin: 10px 15px 10px 15px;
}

/******************/
/*** Fin alexia ***/
/******************/
p.contenu {
   margin-bottom: 10px;
}
/* hack tripadvisor */
#CDSWIDSSP {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #D9E4C4;
	background-color: #D1DFB8 !important;
	width: 300px !important;
	margin: 10px 0 20px 0 !important;
}

#CDSWIDSSP .widSSPData {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 !important;
	
}

#CDSWIDSSP .widSSPData .widSSPBranding {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	padding: 7px 7px 2px 7px;
	border-bottom: 3px solid #D1DFB8 !important;
	background-color: #ECF1E1;
}

#CDSWIDSSP.widSSPnarrow .widSSPPower {
	display: none;
}

#CDSWIDSSP .widSSPData .widSSPLegal {
	padding: 0 0 7px 7px;
}

#CDSWIDSSP .widSSPData .widSSPH18,
#CDSWIDSSP .widSSPData .widSSPTrvlRtng {
	padding: 0 0 0 7px;
}

#CDSWIDSSP.widSSPnarrow .widSSPData .widSSPAll {
	padding: 3px 0 0 9px !important;
}

#CDSWIDSSP .widSSPData .widSSPAll a:link, #CDSWIDSSP .widSSPData .widSSPAll a {
	background: #589442 url(/download/site-principal/image/charte/tripadvisor-arrow.png) no-repeat 4px 4px;
	padding: 3px 8px 3px 20px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	color: #fff !important;
	display: inline-block;
}
