@charset "utf-8";
/* CSS Document */

#container {
	background:#FFFFFF;
	width:100%;
}
#Header .logo{
	text-align:center;
	padding:15px 0 10px 0px;
}
.icons{
	margin-left: 10px;
}
.icon img{
	width:70px;
	height:70px;
}
.TopNavBar{
	width:100%;
}
.TopNavBar .menu {
	padding:1px 0 0 0;
}


.logo img {
	left: 25px;
	top: 15px;
}
.logo h2 {
	font-weight: normal;
}
.item1, .item2, .item3 {
    width: 31%;
}
.titre-basique h2 {
	margin: 10px 0px 5px 15px;
	font-weight: normal;
	font-size: 22px;
}



/*** Page liste hotels ***/
.liste-hotel h2 {
	margin: 10px 0px 5px 15px;
	font-weight: normal;
	font-size: 22px;
}
.liste-hotel-contenu h3 {
    margin: 0px 0px 10px 125px;
}
.sous-titre {
    margin: 0px 0px 5px 125px;
}
.prix{
	margin: 0px 0px 10px 125px;
}



/*** Page fiche hotel ***/
.fiche-hotel h2 {
    margin: 10px 15px 5px 15px;
}

.titre-fiche img {
    top: 12px;
}
