p.contenu a{
	color: #BCC601;
}

ul.contenu li{
	background: url("../images/puce-contenu-vert.png") no-repeat scroll 0 3px transparent;
	padding: 0px 0px 5px 10px;
}

h2.titre-normal a, h3.titre-normal a, h4.titre-normal a, h5.titre-normal a, h6.titre-normal a{
	color: #BCC601;
}

.renderedtable{
	border-color: #BCC601;
}
.renderedtable td{
	border-color: #BCC601;
}

/*** Liste hotel ***/
.list-inline-bis li p.lien-bas a, .list-block-bis li p.lien-bas a{
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
}

/*** Page A la Une ***/
ul.list .lien-bas a, ul.liste .lien-bas a, .cp-coeur .lien-bas a {
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
}

.list-right .link, .list-right .link-bis {
    background: url("../images/bg-btn-r-bis-tl.png") no-repeat scroll 0 0 #BCC601;
}
.list-right .bg-btn-r-tr {
    background: url("../images/bg-btn-r-bis-tr.png") no-repeat scroll 100% 0 transparent;
}
.list-right .bg-btn-r-bl {
    background: url("../images/bg-btn-r-bis-bl.png") no-repeat scroll 0 100% transparent;
}
.list-right .link a {
    background: url("../images/bg-btn-r-bis-br.png") no-repeat scroll 100% 100% transparent;
}

.lien-bas a.type0 {
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
    color: #BCC601;
}
/*
.lien-bas a.type1 {
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
    color: #BCC601;
}
.lien-bas a.type2 {
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
    color: #BCC601;
}
.lien-bas a.type3 {
    background: url("../images/picto5.gif") no-repeat scroll 0 50% transparent;
    color: #BCC601;
}
*/

/*** Bloc voir aussi ***/
.lien-plus-infos{
	background: url("../images/+dinfos-vert.png") no-repeat;
}
