p.contenu a{
	color: #E644AC;
}

ul.contenu li{
	background: url("../images/puce-contenu.png") no-repeat scroll 0 3px transparent;
	padding: 0px 0px 5px 10px;
}

h2.titre-normal a, h3.titre-normal a, h4.titre-normal a, h5.titre-normal a, h6.titre-normal a{
	color: #E644AC;
}

.renderedtable{
	border-color: #E644AC;
}
.renderedtable td{
	border-color: #E644AC;
}

/*** Liste hotel ***/
.list-inline-bis li p.lien-bas a, .list-block-bis li p.lien-bas a{
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
}

/*** Page Decouvrir ***/
ul.list .lien-bas a, ul.liste .lien-bas a, .cp-coeur .lien-bas a {
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
}

.lien-bas a.type0 {
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
    color: #E644AC;
}
/*
.lien-bas a.type2 {
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
    color: #E644AC;
}
.lien-bas a.type3 {
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
    color: #E644AC;
}
*/

/*** Bloc voir aussi ***/
.lien-plus-infos{
	background: url("../images/+dinfos-rose.png") no-repeat;
}
