#map-container, #side-container, #side-container li {
  float: left;
}
#map-container {
  width: 830px;
  height: 736px;
}

#side-container {
  border: 1px solid #bbb;
  padding: 5px 0 0 5px;
  text-align: right;
  width: 300px;
  background-color: #FFFFFF;
}
#side-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#side-container li input {
  width: 240px;
}
#side-container .dir-label {
  font-weight: bold;
  padding-right: 3px;
  text-align: right;
  width: 50px;
}
#side-container .lieu-arrivee {
  width: 241px;
  border: 1px solid #7F9DB9;
  text-align: left;
  background-color: #EEEEEE;
  padding-left: 2px;
  margin-bottom: 15px;
  height: 15px;
  overflow: hidden;
}

#dir-container {
  height: 617px;
  overflow: auto;
  padding: 2px 4px 2px 0;
}
#dir-container table {
  font-size: 1em;
  width: 100%;
}
