p.contenu a{
	color: #E644AC;
}

ul.contenu li{
	background: url("../images/puce-contenu.png") no-repeat scroll 0 3px transparent;
	padding: 0px 0px 5px 10px;
}

/*** Page Decouvrir ***/
.lien-bas a.type3 {
    background: url("../images/picto1.gif") no-repeat scroll 0 50% transparent;
    color: #E644AC;
}

/*** Bloc voir aussi ***/
.lien-plus-infos{
	background-color: #E644AC;
}
